*{
 padding :0;
 margin: 0;
 background-color: #434C56;
 font-family: Arial, Helvetica, sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 40px
}

h1{
 color: #FEFBEA;
}

.container{
 display: grid;
 grid-template-columns: repeat(3,300px);
 grid-template-rows: repeat(3, 1fr);
 align-items: center;
 justify-items: center;
 gap: 5px;
}

.card{
 border: 2px solid black;
 background-color: #FEFBEA;
 border-radius: 20px;
 width: 100%;
 height:200px;
}

.card:hover{
 background-color: #ADD8E6;
}